.video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Adjust text color as needed */


    height: 40%; /* 2/5 in percentage */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 235, 59, 0.85); /* bg-yellow-600 with 85% opacity */
    padding: 0 1.6rem; /* px-10 in rems */
    width: 100%;
    max-width: 500px; /* max-w-[500px] in pixels */
  }