body{
  background-color: var(--bg-color);
   font-family: 'Poppins', sans-serif;;
}
:root {
    --bg-color: #ffffff; 
    --nav-bg-color: #c4c4c4;
    --text-color: rgb(107 114 128);
    --red-color: #C13E31;
    --form-bg-color: hsl(216, 20%, 97%);
    
  }