body{
  background-color: var(--bg-color);
   font-family: 'Poppins', sans-serif;;
}
:root {
    --bg-color: #181818; 
    --nav-bg-color: #181818;
    --text-color: #ffffff;
    --red-color: #C13E31;
    
  }